img {
    width: 600px;
    height: 700px;
}

a {
    display: inline-block;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    background-color: gray;
}

a:not(a[href="#"]) {
    opacity: 0.5;
}

main {
    text-align: center;
}